{% extends "_commun.twig" %} 

{% block content %}
    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-3"></div>
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6">
        <h1 class="center">Recherche d'un article</h1>
        
        <form class="form-row"  method="get" action="/search/" >
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="input-group">
                        <span class="input-group-addon">Nom contenant</span>
                        <input type="text" class="form-control" name="name" value="{{name}}" maxlength=50 />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">Prix ≥</span>
                        <input type="text" class="form-control" name="min" value="{{min}}" placeholder="0" maxlength=10 pattern="[0-9]*" title="Un prix est un nombre composé uniquement de chiffres" />
                        <span class="input-group-addon">et ≤</span>
                        <input type="text" class="form-control" name="max" value="{{max}}" maxlength=10  pattern="[0-9]*" title="Un prix est un nombre composé uniquement de chiffres" />
                        <span class="input-group-addon"><img src="/ressources/coin.png"/></span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 text-right">
                	    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
                {% if isSizePage %}
                    <input name="sizePage" value="{{sizePage}}" type="hidden"/>
                {% endif %}
            </div>
        </form>
        <div class="row">
            {% if isAdmin %}
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 text-left">
                    <a type="button" class="btn btn-default" href="/item/create/">Création</a>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-right">
            {% else %}
                <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 text-right">
            {% endif %}
                    <div class="btn-group" role="group" >
                        {% if _first is defined %}
                            <a type="button" class="btn btn-default" href="/search/?{{getUrl}}&sizePage={{sizePage}}&page={{_first}}">{{_first}}</a>
                        {% endif %}
                        {% if isSepBegin %}
                            <span class="nobtn">...</span>
                        {% endif %}
                        {% if previus is defined %}
                            <a type="button" class="btn btn-default" href="/search/?{{getUrl}}&sizePage={{sizePage}}&page={{previus}}">{{previus}}</a>
                        {% endif %}
                        <a type="button" class="btn btn-default active" href="#">{{current}}</a>
                        {% if next is defined %}
                            <a type="button" class="btn btn-default" href="/search/?{{getUrl}}&sizePage={{sizePage}}&page={{next}}">{{next}}</a>
                        {% endif %}
                        {% if isSepEnd %}
                            <span class="nobtn">...</span>
                        {% endif %}
                        {% if _last is defined %}
                            <a type="button" class="btn btn-default" href="/search/?{{getUrl}}&sizePage={{sizePage}}&page={{_last}}">{{_last}}</a>
                        {% endif %}
                    </div>
            </div>
            
            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 text-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{sizePage}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/search/?{{getUrl}}&sizePage=20">20</a></li>
                        <li><a href="/search/?{{getUrl}}&sizePage=50">50</a></li>
                        <li><a href="/search/?{{getUrl}}&sizePage=100">100</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>nom</th>
                    <th>prix</th>
                </tr>
            </thead>
            <tbody>
                {% for item in itemList %}
                    <tr>
                        <td><img src="{{item.getImg}}" height="32" width="32"/></td>
                        <td><a href="/item/{{item.getId}}">{{item.getName}}</a></td>
                        <td>{{item.getPrice|number_format}} <img src="/ressources/coin.png"/></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                <a href="#"><span class="glyphicon glyphicon-triangle-top"></span></a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                <a href="#"><span class="glyphicon glyphicon-triangle-top"></span></a>
            </div>
        </div>
    </div>
    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-3"></div>
{% endblock %}