{% extends "_commun.twig" %} 

{% block content %}
    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
    <h1 class="center">Création d'un compte</h1>   
        <form class="form-row"  method="post" action="/signup/" >
            
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">Identifiant<span class="red">*</span></span>
                        <input type="text" class="form-control" name="login" value="{{login}}" maxlength=16 pattern="[a-zA-Z][a-zA-Z0-9]{4-15}" title="Un identifiant doit faire minimum 5 caractères, il commence par une lettre et contient uniquement des lettres et de chiffres" required/>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6"></div>
            </div>
            
            <div class="input-group">
                <span class="input-group-addon">@<span class="red">*</span></span>
                <input type="email" class="form-control" name="mail" value="{{mail}}" maxlength=100 required/>
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">Mot de passe<span class="red">*</span></span>
                        <input type="password" class="form-control" name="password1" value="{{password1}}" id="password1" maxlength=16 pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).{6,}" title="Un mot de passe doit faire minimum 6 caractères, il doit contenir une majuscule, une minuscule, un chiffre et un caractère spécial" required/>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">Confirmation<span class="red">*</span></span>
                        <input type="password" class="form-control" name="password2" value="{{password2}}" id="password2" maxlength=16 pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).{6,}" title="Un mot de passe doit faire minimum 6 caractères, il doit contenir une majuscule, une minuscule, un chiffre et un caractère spécial" required/>
                    </div>
                </div>
            </div>
            
            <hr>
            <h3>Adresse</h4>
            
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">Nom</span>
                        <input type="text" class="form-control" name="lastname" value="{{lastname}}" maxlength=50 pattern="[a-zA-Z]*" title="Un nom est uniquement composé de lettres" />
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="input-group">            
                        <span class="input-group-addon">Prénom</span>
                        <input type="text" class="form-control" name="firstname" value="{{firstname}}" maxlength=50 pattern="[a-zA-Z]*" title="Un nom est uniquement composé de lettres" />
                    </div>
                </div>
            </div>
            
            <div class="input-group">
                <span class="input-group-addon">Adresse</span>
                <input type="text" class="form-control" name="adresse" value="{{adresse}}" maxlength=100 />
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">Code postal</span>
                        <input type="text" class="form-control" name="postalCode" value="{{postalCode}}" maxlength=5 pattern="[0-9]{5}" title="Un code postal est composé de 5 chiffres" />
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="input-group">  
                        <span class="input-group-addon">Ville</span>
                        <input type="text" class="form-control" name="city" value="{{city}}" maxlength=50 pattern="[a-zA-Z\- 0-9]*" title="Un nom de vide est composé de lettres, d'espace, de tiret et pour les cedex de chiffres"/>
                    </div>
                </div>
            </div>
            
            <div class="input-group">
                <span class="input-group-addon">Téléphone</span>
                <input type="tel" class="form-control" name="phone" value="{{phone}}" maxlength=10 pattern="0[0-9]{9}" title="Un code postal est composé de 10 chiffres et commence par un 0" />
            </div>
            
            <hr>
            
            <div class="input-group">
                <span class="input-group-addon"><input type="checkbox" name="news" checked/></span>
                <span class="form-control">Je souhaite recevoir les newsletters du site</span>
            </div>
            
            <div class="input-group">
                <span class="input-group-addon"><input type="checkbox" required/></span>
                <span class="form-control">J'accepte les CGU<span class="red">*</span></span>
            </div>
            
            <hr>
        	<div class="center">
        	    <button type="submit" class="btn btn-primary">S'enregistrer</button>
        	</div>
        </form>
    </div>
    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
    
    <script type="text/javascript" src="ressources/script.js"></script>
{% endblock %}