{% extends "_commun.twig" %} 

{% block content %}
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h1 class="center">Liste d'articles aléatoires</h1> 
        <div class="row">
            {% for item in randomList %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="/item/{{item.getId}}"> 
                        <div class="thumbnail taille">
                                <img src="{{item.getImg}}" class="img-responsive center-block"  height="48" width="48"/>
                                <div class="caption">
                                    <h3 class="center">{{ item.getName }}</h3>
                                    <p class="center">{{ item.getDescription }}</p>
                                    <span class="pull-right">{{ item.getPrice }} <img src="/ressources/coin.png"/></span>
                                    </p>
                                </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
{% endblock %}